/**
 * Our app-specific styles
 */
 
body
{
	min-height: 1000px;
	font-size: 14px;
}

.modal-backdrop {
	width: 100% !important;
	height: 100% !important;
	position: fixed !important;
	// z-index: 1030;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret
{
	border-top-color: #fff;
	border-bottom-color: #fff;
}
nav
{
	&.navbar
	{
		padding-right: 20px;

		.fui-list-numbered
		{
			margin-right: 8px;
			vertical-align: middle;
		}
	}

	img.avatar
	{
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border-width: 1px;
		vertical-align: top;
	}
}

article
{
	min-height: 880px;
	padding-top: 76px;

	&>.row
	{
		padding-top: 60px;
	}
	&.container-fluid>.row
	{
		padding-top: 0px;
	}

	.welcome
	{
		color: #fff;
		padding-top: 80px;
		padding-bottom: 80px;
		background: #0caeff;

		a
		{
			&.btn
			{
				background: #99cc00;
				color: #fff;
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 15px;
				padding-bottom: 15px;

				&:hover
				{
					background: lighten(#99cc00,3%);
				}
			}
		}

		& + .row
		{
			padding-top: 60px;
		}
	}

	.features
	{
		.fui-user, .fui-video
		{
			margin-right: 10px;
			vertical-align: middle;
		}
	}

	.cta-bottom
	{
		padding-top: 120px;
	}

	.tile
	{
		img.avatar
		{
			width: 100px;
			height: 100px;
			border-width: 5px;
		}

		ul
		{
			list-style-type: none;
			padding: 0;
			margin-top: 10px;
		}
	}

	.live
	{
		.tile
		{
			background: #16A085;
			color: #fff;
			a
			{
				color: #fff;

				&:hover
				{
					color: lighten(#2ECC71, 30%)
				}
			}
		}
	}

	.start
	{
		p.lead
		{
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}

	.todo-search
	{
		&::before
		{
			content: none;
		}
		h2
		{
			color: #fff;
		}
	}
}

footer
{
	margin-top: 120px;
	padding: 40px;
	text-align: center;
	ul
	{
		margin-bottom: 40px;
		list-style-type: none;

		li
		{
			display: inline-block;
			margin-right: 20px;
		}
	}
}

#helpful
{
	position: fixed;
	bottom: 30px;
	right: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

@media screen and (min-width: 768px)
{
	#helpful
	{
		.btn
		{
			font-size: 90%;
		}
	}
}

h1, .h1
{
	font-size: 42px;

	.avatar {
		margin-left: 20px;
		vertical-align: bottom;
	}
}

h2, .h2
{
	font-size: 24px;
	font-weight: normal;
}

p
{
	font-size: 14px;
}

form
{
	.select
	{
		min-width: inherit;
	}

	textarea {
		resize: none;
	}
}

img
{
	&.avatar
	{
		background-color: #fff;
		width: 50px;
		height: 50px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0 1px 2px 0 #2f4154;
		-moz-box-shadow: 0 1px 2px 0 #2f4154;
		box-shadow: 0 1px 2px 0 #2f4154;
		border: solid 3px #FFF;
	}
}

.form-control[disabled]
{
	color: #555;
}