/**
 * Our app-specific styles
 */
 
body
{
	min-height: 1000px;
	padding-top: 120px;
	
	font-size: 14px;
}

.modal-backdrop {
	width: 100% !important;
	height: 100% !important;
	position: fixed !important;
	// z-index: 1030;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret
{
	border-top-color: #fff;
	border-bottom-color: #fff;
}
nav
{
	&.navbar
	{
		padding-right: 20px;
	}

	img.avatar
	{
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border-width: 1px;
		vertical-align: top;
	}
}

article
{
	min-height: 880px;
}

footer
{
	margin-top: 120px;
	padding: 40px;
	text-align: center;
	ul
	{
		margin-bottom: 40px;
		list-style-type: none;

		li
		{
			display: inline-block;
			margin-right: 20px;
		}
	}
}

#helpful
{
	position: fixed;
	right: 30px;
	bottom: 30px;
}

h1, .h1
{
	font-size: 42px;

	.avatar {
		margin-left: 20px;
		vertical-align: bottom;
	}
}

h2, .h2
{
	font-size: 24px;
	font-weight: normal;
}

p
{
	font-size: 14px;
}

form
{
	.select
	{
		min-width: inherit;
	}

	textarea {
		resize: none;
	}
}

img
{
	&.avatar
	{
		background-color: #fff;
		width: 50px;
		height: 50px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0 1px 2px 0 #2f4154;
		-moz-box-shadow: 0 1px 2px 0 #2f4154;
		box-shadow: 0 1px 2px 0 #2f4154;
		border: solid 3px #FFF;
	}
}